# Зависимости
node_modules/
.pnp/
.pnp.js

# Сборка
.next/
out/
build/
dist/

# Окружение и секреты
.env
.env.local
.env.*.local
*.pem

# Логи
npm-debug.log*
yarn-error.log*
*.log

# Редакторы и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Кеши
.turbo/
.cache/
coverage/
